<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="app">
    {{msg}}
    {{arr}}
    <ul>
        <li v-for="key in arr" track-by="$index">
            {{key}}
        </li>
        <li></li>
    </ul>
    <ul>
        <li v-for="(val,index) in arr" track-by="$index">
            {{val}}  {{index}}
        </li>
        <li></li>
    </ul>
</div>
<script src="vue2.js" type="text/javascript"></script>
<script type="text/javascript">
    new Vue({
        el: '#app',
        data: {
            msg: '123',
            arr:['iphone5','apple5','apple6']
        }
    })
</script>
</body>
</html>